/*! @import */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html {
    height: 100%;
}

body {
    @apply h-full antialiased px-6 font-sans text-white;
    background-color: #1a202c;
    font-family: 'Poppins', sans-serif;
}

#app {
    height: 100%;
}

.slow-underline-ltr
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0% 2px;
    transition: background-size .3s;
    &:hover
        background-size: 100% 2px; 

.sul-g-b
    @extend .slow-underline-ltr;
    @apply bg-gradient-to-r from-green-400 to-blue-500;

.hlt
    @apply text-transparent font-bold;
    background-image: linear-gradient(to right, #a78bfa, #ec4899, #ef4444, rgba(236, 72, 153, 1)),
                    linear-gradient(to right, #a78bfa, #ec4899, #ef4444, rgba(236, 72, 153, 1));
    background-clip: text,border-box;
    -webkit-background-clip: text,border-box;
    background-repeat: no-repeat,no-repeat;
    background-position: 0% 0% ,left bottom;
    background-size: auto ,0% 2px;
    transition: background-size .3s;
    &:hover
        background-size: auto ,100% 2px; 

.icon.outbound
  display none !important 

